In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../../Data/RawData/GameStats/LCK_2023_SUMMER.csv')
df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,kingen,K,TOP,15,1,1,1,2,250,3.0,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2066,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2067,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2068,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2069,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0

In [9]:
df['Champion'].unique()

array(['Gangplank', 'Viego', 'Ahri', 'Tristana', 'Alistar', 'Jax',
       'Nocturne', 'Akali', 'Kai', 'Rell', 'Wukong', 'Yone', 'Rakan',
       'Gragas', 'Vi', 'Azir', 'Zeri', 'Renekton', 'Zac', 'Xayah',
       'Aatrox', 'Maokai', 'Braum', 'K', 'LeBlanc', 'Lee Sin', 'Annie',
       'Leona', 'Rumble', 'Jayce', 'Nautilus', 'Skarner', 'Lillia', 'Kog',
       'Aphelios', 'Sejuani', 'Varus', 'Seraphine', 'Lulu', 'Fiora',
       'Nilah', 'Malphite', 'Neeko', 'Gwen', 'Gnar', 'Xerath', 'Ezreal',
       'Ziggs', 'Sivir', 'Heimerdinger', 'Ashe', 'Poppy', 'Ornn', 'Ivern',
       'Kha', 'Vayne', 'Cassiopeia', 'Samira', 'Lucian', 'Jinx', 'Thresh',
       'Blitzcrank', 'Quinn', 'Taliyah', 'Galio', 'Diana', 'Yasuo',
       'Milio', 'Draven', 'Twisted Fate', 'Veigar', 'Trundle', 'Kalista',
       'Kennen', 'Renata Glasc', 'Sylas', 'Twitch', 'Sion', 'Volibear',
       'Jhin', 'Irelia', 'Yuumi', 'Rek', 'Camille', 'Kindred',
       'Tahm Kench', 'Aurelion Sol', 'Nami', 'Xin Zhao', 'Morgana',
       'Corki', 'Miss Fortune', 'Kayle', 'Cho', 'Pyke', 'Graves',
       'Syndra'], dtype=object)

In [14]:
target_dict = {
    'Kai' : "Kai'Sa",
    'K' : "K'Sante",
    'Kog' : "Kog'Maw",
    'Kha' : "Kha'Zix",
    'Rek' : "Rek'Sai",
    'Cho' : "Cho'Gath", 
}

def replace_champion_name(champion_name):
    if champion_name in target_dict.keys():
        return target_dict[champion_name]
    else:
        return champion_name

def replace_champion_name_list(champion_name_list):
    return [replace_champion_name(champion_name) for champion_name in champion_name_list]

def replace_champion_name_df(df):
    df['Champion'] = replace_champion_name_list(df['Champion'])
    return df

replace_champion_name_df = replace_champion_name_df(df)
replace_champion_name_df['Champion'].unique()

replace_champion_name_df.to_csv('../../../ProcessedData/Complete_Chmapion_Name.csv', index=False)

In [13]:
replace_champion_name_df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2066,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2067,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2068,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2069,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0