In [2]:
import pandas as pd

df = pd.read_csv('../../../RawData/GameStats/LCK_2023_SUMMER.csv')
df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2066,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2067,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2068,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2069,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0

In [62]:
df[(df.isna() == True).sum(axis=1) > 2]

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Team
115,Clear,K'Sante,TOP,3,4,1,12,16,369,NaN,...,0,NaN,21,NaN,0,1,3,0,0,LSB
116,Willer,Nocturne,JUNGLE,3,6,3,11,5.7,259,NaN,...,0,NaN,2,NaN,0,1,2,0,0,LSB
117,Clozer,Ahri,MID,4,8,3,10,6,367,NaN,...,0,NaN,2,NaN,0,2,4,0,0,LSB
118,Teddy,Kai'Sa,ADC,3,8,3,15,7.7,469,NaN,...,0,NaN,0,NaN,0,1,3,0,0,LSB
119,Kael,Rell,SUPPORT,3,1,2,21,11,35,NaN,...,0,NaN,16,NaN,0,2,4,0,0,LSB
120,Zeus,Gnar,TOP,3,3,2,8,5.5,436,NaN,...,0,NaN,24,NaN,0,1,3,0,0,T1
121,Oner,Sejuani,JUNGLE,4,1,6,6,1.2,186,NaN,...,0,NaN,100,NaN,0,1,3,0,0,T1
122,Faker,Tristana,MID,4,1,8,6,0.9,356,NaN,...,0,NaN,4,NaN,0,1,2,0,0,T1
123,Gumayusi,Zeri,ADC,2,7,5,4,2.2,463,NaN,...,0,NaN,0,NaN,0,1,3,0,0,T1
124,Keria,Xayah,SUPPORT,2,0,6,11,1.8,46,NaN,...,53,NaN,0,NaN,0,2,6,0,0,T1

In [4]:
df['Player'].value_counts()

UmTi       45
Hena       45
Morgan     45
Effort     45
Rascal     43
           ..
Hype        1
PerfecT     1
HamBak      1
Feisty      1
Way         1
Name: Player, Length: 75, dtype: int64

In [10]:
less_than_10 = df['Player'].value_counts() <= 10

less_than_10.index[less_than_10 == True]

Index(['Ivory', 'Kyeahoo', 'Vital', 'Rahel', 'Sponge', 'SeTab', 'deokdam',
       'Pleata', 'Mihile', 'Sounda', 'Callme', 'Frog', 'HH', 'Hype', 'PerfecT',
       'HamBak', 'Feisty', 'Way'],
      dtype='object')

In [24]:
df['Player'].isin(less_than_10.index[less_than_10 == False])

0       True
1       True
2       True
3       True
4       True
        ...
2065    True
2066    True
2067    True
2068    True
2069    True
Name: Player, Length: 2070, dtype: bool

In [16]:
drop_less_than_10_df = df[df['Player'].isin(less_than_10.index[less_than_10 == False])]

drop_less_than_10_df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2066,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2067,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2068,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2069,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0

In [34]:
top_df = drop_less_than_10_df[drop_less_than_10_df['Role'] == 'SUPPORT']
print(top_df['Player'].unique())
print(len(top_df['Player'].unique()))

['Lehends' 'Kael' 'BeryL' 'Andil' 'Effort' 'Delight' 'Bible' 'Life'
 'Peter' 'Keria' 'Kellin' 'Jun']
12

In [35]:
team = {
    'KT' : ['Kiin', 'Cuzz', 'Bdd', 'Aiming', 'Lehends'],
    'GEN' : ['Doran', 'Peanut', 'Chovy', 'Peyz', 'Delight'],
    'HLE' : ['kingen', 'Grizzly', 'Clid', 'Zeka', 'Viper', 'Life'],
    'Dplus KIA' : ['Canna', 'Canyon', 'ShowMaker', 'Deft', 'Bible', 'Kellin'],
    'T1' : ['Zeus', 'Oner', 'Faker', 'Poby', 'Gumayusi', 'Keria'],
    'DRX' : ['Rascal', 'Croco','Juhan', 'FATE', 'Paduck', 'BeryL'],
    'LSB' : ['Burdol', 'Clear', 'Willer', 'Clozer', 'Teddy', 'Kael'],
    'BRION' : ['Morgan', 'UmTi', 'Karis', 'Hena', 'Effort'],
    'NS' : ['DnDn','Sylvie', 'FIESTA', 'Quad', 'Jiwoo', 'Peter'],
    'KDF' : ['DuDu', 'YoungJae', 'Bulldog', 'Taeyoon', 'Andil', 'Jun']
}

In [36]:
player_to_team = {}
for team_name, players in team.items():
    for player in players:
        player_to_team[player] = team_name
    
print(player_to_team)

{'Kiin': 'KT', 'Cuzz': 'KT', 'Bdd': 'KT', 'Aiming': 'KT', 'Lehends': 'KT', 'Doran': 'GEN', 'Peanut': 'GEN', 'Chovy': 'GEN', 'Peyz': 'GEN', 'Delight': 'GEN', 'kingen': 'HLE', 'Grizzly': 'HLE', 'Clid': 'HLE', 'Zeka': 'HLE', 'Viper': 'HLE', 'Life': 'HLE', 'Canna': 'Dplus KIA', 'Canyon': 'Dplus KIA', 'ShowMaker': 'Dplus KIA', 'Deft': 'Dplus KIA', 'Bible': 'Dplus KIA', 'Kellin': 'Dplus KIA', 'Zeus': 'T1', 'Oner': 'T1', 'Faker': 'T1', 'Poby': 'T1', 'Gumayusi': 'T1', 'Keria': 'T1', 'Rascal': 'DRX', 'Croco': 'DRX', 'Juhan': 'DRX', 'FATE': 'DRX', 'Paduck': 'DRX', 'BeryL': 'DRX', 'Burdol': 'LSB', 'Clear': 'LSB', 'Willer': 'LSB', 'Clozer': 'LSB', 'Teddy': 'LSB', 'Kael': 'LSB', 'Morgan': 'BRION', 'UmTi': 'BRION', 'Karis': 'BRION', 'Hena': 'BRION', 'Effort': 'BRION', 'DnDn': 'NS', 'Sylvie': 'NS', 'FIESTA': 'NS', 'Quad': 'NS', 'Jiwoo': 'NS', 'Peter': 'NS', 'DuDu': 'KDF', 'YoungJae': 'KDF', 'Bulldog': 'KDF', 'Taeyoon': 'KDF', 'Andil': 'KDF', 'Jun': 'KDF'}

In [39]:
drop_less_than_10_df.loc[:,'Team'] = drop_less_than_10_df['Player'].map(player_to_team)

C:\Users\jongwan\AppData\Local\Temp\ipykernel_22964\2314909516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_less_than_10_df.loc[:,'Team'] = drop_less_than_10_df['Player'].map(player_to_team)

In [41]:
drop_less_than_10_df['Team'].value_counts()

BRION        215
T1           210
NS           208
DRX          206
HLE          205
KT           200
LSB          200
Dplus KIA    197
GEN          195
KDF          190
Name: Team, dtype: int64

In [45]:
drop_less_than_10_df.to_csv('../../../ProcessedData/LCK_2023_SUMMER_AddTeam_DropSubs.csv', index=False)

In [46]:
df = pd.read_csv('../../../ProcessedData/LCK_2023_SUMMER_AddTeam_DropSubs.csv')
df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Team
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,0,5.0,156,13570.0,42,7,22,0,100,KT
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,0,12.0,198,23779.0,66,5,24,0,150,KT
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,0,22.0,77,16177.0,114,7,23,100,500,KT
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,0,4.0,53,9404.0,33,6,23,0,0,KT
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,77,20.0,55,11572.0,49,16,27,0,0,KT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,177,26.0,1669,13981.0,49,9,28,0,0,HLE
2022,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,0,4.0,194,22960.0,36,11,25,0,0,HLE
2023,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,0,14.0,474,19369.0,79,8,27,0,0,HLE
2024,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,0,11.0,92,10485.0,43,5,23,0,50,HLE
2025,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3014,8.0,53,7027.0,73,13,26,0,0,HLE

In [52]:
[df.isna().sum(axis = 0) > 0]

[Player                                False
 Champion                              False
 Role                                  False
 Level                                 False
 Kills                                 False
 Deaths                                False
 Assists                               False
 KDA                                   False
 CS                                    False
 CS in Team's Jungle                    True
 CS in Enemy Jungle                     True
 CSM                                   False
 Golds                                 False
 GPM                                   False
 GOLD%                                 False
 Vision Score                           True
 Wards placed                           True
 Wards destroyed                        True
 Control Wards Purchased                True
 Detector Wards Placed                 False
 VSPM                                   True
 WPM                                   False
 VWPM                                  False
 WCPM                                  False
 VS%                                    True
 Total damage to Champion              False
 Physical Damage                       False
 Magic Damage                          False
 True Damage                           False
 DPM                                   False
 DMG%                                  False
 K+A Per Minute                        False
 KP%                                   False
 Solo kills                             True
 Double kills                           True
 Triple kills                           True
 Quadra kills                           True
 Penta kills                            True
 GD@15                                  True
 CSD@15                                 True
 XPD@15                                 True
 LVLD@15                                True
 Objectives Stolen                     False
 Damage dealt to turrets                True
 Damage dealt to buildings             False
 Total heal                             True
 Total Heals On Teammates              False
 Damage self mitigated                  True
 Total Damage Shielded On Teammates    False
 Time ccing others                      True
 Total Time CC Dealt                   False
 Total damage taken                     True
 Total Time Spent Dead                 False
 Consumables purchased                 False
 Items Purchased                       False
 Shutdown bounty collected             False
 Shutdown bounty lost                  False
 Team                                  False
 dtype: bool]