In [2]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/wan6570/FlyAI_Project/Doyoon/API/LeagueofLegends/SILVER.csv')

df.head()

,Player,championName,teamPosition,champLevel,kills,deaths,assists,KDA 0.5,totalMinionsKilled,totalAllyJungleMinionsKilled,...,totalHealsOnTeammates,damageSelfMitigated,totalDamageShieldedOnTeammates,timeCCingOthers,totalTimeCCDealt,trueDamageTaken,totalTimeSpentDead,consumablesPurchased,itemsPurchased,win
0,성실한덕후,KSante,TOP,13,2,4,0,0.444444,152,0,...,0,14453,0,25,1836,137,92,3,18,True
1,곧 갈게,Shaco,JUNGLE,12,6,2,3,3.600000,5,78,...,0,5234,0,17,468,151,51,2,11,True
2,TaeHo9414,Vex,MIDDLE,13,7,1,3,6.666667,159,0,...,0,6600,0,28,380,132,0,6,21,True
3,늑대와 첫날밤,Jhin,BOTTOM,11,7,1,1,5.333333,149,0,...,437,4614,0,29,119,0,0,1,15,True
4,에 쿙,Lux,UTILITY,10,0,4,9,2.000000,7,0,...,0,3325,440,40,151,26,80,2,13,True

In [3]:
df['teamPosition'].value_counts()

TOP        1816
JUNGLE     1816
MIDDLE     1816
BOTTOM     1816
UTILITY    1816
Name: teamPosition, dtype: int64