In [1]:
import pandas as pd
import numpy as np

In [4]:
# 필요한 패키지
import os

# 현재 경로 확인
os.getcwd()

'c:\\Users\\066\\Desktop\\FlyAI_Project\\Data'

In [41]:
df=pd.read_csv("C:\\Users\\066\\Desktop\\FlyAI_Project\\Data\\RawData\\LCK_2023_SUMMER.csv")

In [42]:
df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,kingen,K,TOP,15,1,1,1,2,250,3.0,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2066,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2067,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2068,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2069,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0

In [43]:
new_column_values = []
for i in range(len(df)):
    value = (i // 10) + 1  # 5개씩 끊어서 1, 2, 3으로 적용
    new_column_values.append(value)

df['gameidx'] = new_column_values

print(df)

       Player   Champion     Role  Level  Kills  Deaths  Assists  KDA   CS  \
0        Kiin  Gangplank      TOP     16      2       1        8   10  252
1        Cuzz      Viego   JUNGLE     15      8       2       10    9  182
2         Bdd       Ahri      MID     15      7       3       10  5.7  219
3      Aiming   Tristana      ADC     15      0       2       13  6.5  264
4     Lehends    Alistar  SUPPORT     12      2       3       11  4.3   30
...       ...        ...      ...    ...    ...     ...      ...  ...  ...
2065   kingen          K      TOP     15      1       1        1    2  250
2066     Clid      Viego   JUNGLE     13      1       2        1    1  164
2067     Zeka     Gragas      MID     14      0       3        1  0.3  226
2068    Viper       Jinx      ADC     13      0       1        1    1  265
2069     Life      Milio  SUPPORT      9      0       3        1  0.3   12

      CS in Team's Jungle  ...  Total Damage Shielded On Teammates  \
0                     4.0  ...                                   0
1                   156.0  ...                                   0
2                     0.0  ...                                   0
3                    12.0  ...                                   0
4                     0.0  ...                                  77
...                   ...  ...                                 ...
2065                  3.0  ...                                 177
2066                154.0  ...                                   0
2067                  4.0  ...                                   0
2068                 16.0  ...                                   0
2069                  0.0  ...                                3014

      Time ccing others  Total Time CC Dealt  Total damage taken  \
0                   5.0                  156             13570.0
1                  12.0                  198             23779.0
2                  22.0                   77             16177.0
3                   4.0                   53              9404.0
4                  20.0                   55             11572.0
...                 ...                  ...                 ...
2065               26.0                 1669             13981.0
2066                4.0                  194             22960.0
2067               14.0                  474             19369.0
2068               11.0                   92             10485.0
2069                8.0                   53              7027.0

     Total Time Spent Dead  Consumables purchased  Items Purchased  \
0                       42                      7               22
1                       66                      5               24
2                      114                      7               23
3                       33                      6               23
4                       49                     16               27
...                    ...                    ...              ...
2065                    49                      9               28
2066                    36                     11               25
2067                    79                      8               27
2068                    43                      5               23
2069                    73                     13               26

      Shutdown bounty collected  Shutdown bounty lost  gameidx
0                             0                   100        1
1                             0                   150        1
2                           100                   500        1
3                             0                     0        1
4                             0                     0        1
...                         ...                   ...      ...
2065                          0                     0      207
2066                          0                     0      207
2067                          0                     0      207
2068                          0                    50      207
2069                          0                     0      207

[2070 rows x 58 columns]

In [44]:
last_column = df.pop(df.columns[-1])  # 마지막 열 추출
df.insert(0, last_column.name, last_column)

In [45]:
df

,gameidx,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,1,Kiin,Gangplank,TOP,16,2,1,8,10,252,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,1,Bdd,Ahri,MID,15,7,3,10,5.7,219,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,1,Aiming,Tristana,ADC,15,0,2,13,6.5,264,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,1,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,207,kingen,K,TOP,15,1,1,1,2,250,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2066,207,Clid,Viego,JUNGLE,13,1,2,1,1,164,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2067,207,Zeka,Gragas,MID,14,0,3,1,0.3,226,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2068,207,Viper,Jinx,ADC,13,0,1,1,1,265,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2069,207,Life,Milio,SUPPORT,9,0,3,1,0.3,12,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070 entries, 0 to 2069
Data columns (total 58 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   gameidx                             2070 non-null   int64
 1   Player                              2070 non-null   object
 2   Champion                            2070 non-null   object
 3   Role                                2070 non-null   object
 4   Level                               2070 non-null   int64
 5   Kills                               2070 non-null   int64
 6   Deaths                              2070 non-null   int64
 7   Assists                             2070 non-null   int64
 8   KDA                                 2070 non-null   object
 9   CS                                  2070 non-null   int64
 10  CS in Team's Jungle                 2060 non-null   float64
 11  CS in Enemy Jungle                  0 non-null      float64
 12  CSM                                 2070 non-null   float64
 13  Golds                               2070 non-null   int64
 14  GPM                                 2070 non-null   int64
 15  GOLD%                               2070 non-null   object
 16  Vision Score                        2060 non-null   float64
 17  Wards placed                        2060 non-null   float64
 18  Wards destroyed                     2060 non-null   float64
 19  Control Wards Purchased             2060 non-null   float64
 20  Detector Wards Placed               2070 non-null   int64
 21  VSPM                                2060 non-null   float64
 22  WPM                                 2070 non-null   float64
 23  VWPM                                2070 non-null   float64
 24  WCPM                                2070 non-null   float64
 25  VS%                                 2060 non-null   object
 26  Total damage to Champion            2070 non-null   int64
 27  Physical Damage                     2070 non-null   int64
 28  Magic Damage                        2070 non-null   int64
 29  True Damage                         2070 non-null   int64
 30  DPM                                 2070 non-null   int64
 31  DMG%                                2070 non-null   object
 32  K+A Per Minute                      2070 non-null   float64
 33  KP%                                 2070 non-null   object
 34  Solo kills                          198 non-null    float64
 35  Double kills                        2060 non-null   float64
 36  Triple kills                        2060 non-null   float64
 37  Quadra kills                        2060 non-null   float64
 38  Penta kills                         2060 non-null   float64
 39  GD@15                               2060 non-null   float64
 40  CSD@15                              2060 non-null   float64
 41  XPD@15                              2060 non-null   float64
 42  LVLD@15                             2060 non-null   float64
 43  Objectives Stolen                   2070 non-null   int64
 44  Damage dealt to turrets             2060 non-null   float64
 45  Damage dealt to buildings           2070 non-null   int64
 46  Total heal                          2060 non-null   float64
 47  Total Heals On Teammates            2070 non-null   int64
 48  Damage self mitigated               2060 non-null   float64
 49  Total Damage Shielded On Teammates  2070 non-null   int64
 50  Time ccing others                   2060 non-null   float64
 51  Total Time CC Dealt                 2070 non-null   int64
 52  Total damage taken                  2060 non-null   float64
 53  Total Time Spent Dead               2070 non-null   int64
 54  Consumables purchased               2070 non-null   int64
 55  Items Purchased                     2070 non-null   int64
 56  Shutdown bounty collected           2070 non-null   int64
 57  Shutdown bounty lost                2070 non-null   int64
dtypes: float64(26), int64(24), object(8)
memory usage: 938.1+ KB

In [58]:
#데이터 전처리
df.insert(8, 'KDA 0.5', (df['Kills']+df['Assists'])/(df['Deaths']+0.5)) 
df=df.drop(['KDA','Solo kills','Shutdown bounty collected','Shutdown bounty lost'],axis=1)

In [59]:
df

,gameidx,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA 0.5,CS,...,Total heal,Total Heals On Teammates,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased
0,1,Kiin,Gangplank,TOP,16,2,1,8,6.666667,252,...,4714.0,0,8267.0,0,5.0,156,13570.0,42,7,22
1,1,Cuzz,Viego,JUNGLE,15,8,2,10,7.200000,182,...,14400.0,0,24001.0,0,12.0,198,23779.0,66,5,24
2,1,Bdd,Ahri,MID,15,7,3,10,4.857143,219,...,4230.0,0,10336.0,0,22.0,77,16177.0,114,7,23
3,1,Aiming,Tristana,ADC,15,0,2,13,5.200000,264,...,3407.0,0,6309.0,0,4.0,53,9404.0,33,6,23
4,1,Lehends,Alistar,SUPPORT,12,2,3,11,3.714286,30,...,3062.0,1762,16728.0,77,20.0,55,11572.0,49,16,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,207,kingen,K,TOP,15,1,1,1,1.333333,250,...,3799.0,0,16943.0,177,26.0,1669,13981.0,49,9,28
2066,207,Clid,Viego,JUNGLE,13,1,2,1,0.800000,164,...,11986.0,0,16060.0,0,4.0,194,22960.0,36,11,25
2067,207,Zeka,Gragas,MID,14,0,3,1,0.285714,226,...,7482.0,0,15857.0,0,14.0,474,19369.0,79,8,27
2068,207,Viper,Jinx,ADC,13,0,1,1,0.666667,265,...,2732.0,0,6312.0,0,11.0,92,10485.0,43,5,23
2069,207,Life,Milio,SUPPORT,9,0,3,1,0.285714,12,...,2959.0,1896,3916.0,3014,8.0,53,7027.0,73,13,26

In [63]:
col_list=['gameidx']
username=''
with open('C:\\Users\\066\\Desktop\\FlyAI_Project\\API\\LeagueofLegends\\APIcols.txt', 'r', encoding='utf-8') as file:
    for line in file:
        col_list.append(line.strip())

In [60]:
df.columns=col_list

In [61]:
df

,gameidx,summonerName,championName,teamPosition,champLevel,kills,deaths,assists,KDA 0.5,totalMinionsKilled,...,totalHeal,totalHealsOnTeammates,damageSelfMitigated,totalDamageShieldedOnTeammates,timeCCingOthers,totalTimeCCDealt,trueDamageTaken,totalTimeSpentDead,consumablesPurchased,itemsPurchased
0,1,Kiin,Gangplank,TOP,16,2,1,8,6.666667,252,...,4714.0,0,8267.0,0,5.0,156,13570.0,42,7,22
1,1,Cuzz,Viego,JUNGLE,15,8,2,10,7.200000,182,...,14400.0,0,24001.0,0,12.0,198,23779.0,66,5,24
2,1,Bdd,Ahri,MID,15,7,3,10,4.857143,219,...,4230.0,0,10336.0,0,22.0,77,16177.0,114,7,23
3,1,Aiming,Tristana,ADC,15,0,2,13,5.200000,264,...,3407.0,0,6309.0,0,4.0,53,9404.0,33,6,23
4,1,Lehends,Alistar,SUPPORT,12,2,3,11,3.714286,30,...,3062.0,1762,16728.0,77,20.0,55,11572.0,49,16,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,207,kingen,K,TOP,15,1,1,1,1.333333,250,...,3799.0,0,16943.0,177,26.0,1669,13981.0,49,9,28
2066,207,Clid,Viego,JUNGLE,13,1,2,1,0.800000,164,...,11986.0,0,16060.0,0,4.0,194,22960.0,36,11,25
2067,207,Zeka,Gragas,MID,14,0,3,1,0.285714,226,...,7482.0,0,15857.0,0,14.0,474,19369.0,79,8,27
2068,207,Viper,Jinx,ADC,13,0,1,1,0.666667,265,...,2732.0,0,6312.0,0,11.0,92,10485.0,43,5,23
2069,207,Life,Milio,SUPPORT,9,0,3,1,0.285714,12,...,2959.0,1896,3916.0,3014,8.0,53,7027.0,73,13,26

In [62]:
import pymysql

# MySQL 연결 정보 설정
hostname='cdymysql.mysql.database.azure.com'
username='cdy'
password='Pa12341234!@#$'
database='testdb'

# MySQL 데이터베이스 연결
connection = pymysql.connect(user=username, password=password, host=hostname, port=3306, database=database, ssl_ca="DigiCertGlobalRootCA.crt.pem", ssl_disabled=False)
# 커서 생성
cursor = connection.cursor()

In [64]:
# 테이블 컬럼 데이터 생성 및 테이블 생성 쿼리
table_name='summer'
create_table_query = f"CREATE TABLE {table_name} ("

for col_name, col_dtype in zip(df.columns, df.dtypes):
    if col_dtype == np.int64:
        mysql_dtype = "INT"
    elif col_dtype == np.float64:
        mysql_dtype = "FLOAT"
    else:
        mysql_dtype = "VARCHAR(255)"
    create_table_query += f"`{col_name}` {mysql_dtype}, "

create_table_query = create_table_query.rstrip(', ') + ")"
print(create_table_query)
cursor.execute(create_table_query)

CREATE TABLE summer (`gameidx` INT, `summonerName` VARCHAR(255), `championName` VARCHAR(255), `teamPosition` VARCHAR(255), `champLevel` INT, `kills` INT, `deaths` INT, `assists` INT, `KDA 0.5` FLOAT, `totalMinionsKilled` INT, `totalAllyJungleMinionsKilled` FLOAT, `totalEnemyJungleMinionsKilled` FLOAT, `CSM` FLOAT, `goldEarned` INT, `GPM` INT, `GOLD%` VARCHAR(255), `visionScore` FLOAT, `wardsPlaced` FLOAT, `wardsKilled` FLOAT, `visionWardsBoughtInGame` FLOAT, `detectorWardsPlaced` INT, `VSPM` FLOAT, `WPM` FLOAT, `VWPM` FLOAT, `WCPM` FLOAT, `VS%` VARCHAR(255), `totalDamageDealtToChampions` INT, `physicalDamageDealtToChampions` INT, `magicDamageDealtToChampions` INT, `trueDamageDealtToChampions` INT, `DPM` INT, `DMG%` VARCHAR(255), `K+A Per Minute` FLOAT, `KP%` VARCHAR(255), `doubleKills` FLOAT, `tripleKills` FLOAT, `quadraKills` FLOAT, `pentaKills` FLOAT, `GD@15` FLOAT, `CSD@15` FLOAT, `XPD@15` FLOAT, `LVLD@15` FLOAT, `objectivesStolen` INT, `damageDealtToTurrets` FLOAT, `damageDealtToBuildings` INT, `totalHeal` FLOAT, `totalHealsOnTeammates` INT, `damageSelfMitigated` FLOAT, `totalDamageShieldedOnTeammates` INT, `timeCCingOthers` FLOAT, `totalTimeCCDealt` INT, `trueDamageTaken` FLOAT, `totalTimeSpentDead` INT, `consumablesPurchased` INT, `itemsPurchased` INT)

0

In [70]:
df=df.dropna(subset=['totalMinionsKilled',''])

In [ ]:
df.columns=col_list

In [72]:
df[df['wardsPlaced'].isna()]

,gameidx,summonerName,championName,teamPosition,champLevel,kills,deaths,assists,KDA 0.5,totalMinionsKilled,...,totalHeal,totalHealsOnTeammates,damageSelfMitigated,totalDamageShieldedOnTeammates,timeCCingOthers,totalTimeCCDealt,trueDamageTaken,totalTimeSpentDead,consumablesPurchased,itemsPurchased
120,13,Clear,K,TOP,3,4,1,12,10.666667,369,...,NaN,0,NaN,0,NaN,21,NaN,0,1,3
121,13,Willer,Nocturne,JUNGLE,3,6,3,11,4.857143,259,...,NaN,0,NaN,0,NaN,2,NaN,0,1,2
122,13,Clozer,Ahri,MID,4,8,3,10,5.142857,367,...,NaN,0,NaN,0,NaN,2,NaN,0,2,4
123,13,Teddy,Kai,ADC,3,8,3,15,6.571429,469,...,NaN,0,NaN,0,NaN,0,NaN,0,1,3
124,13,Kael,Rell,SUPPORT,3,1,2,21,8.800000,35,...,NaN,0,NaN,0,NaN,16,NaN,0,2,4
125,13,Zeus,Gnar,TOP,3,3,2,8,4.400000,436,...,NaN,0,NaN,0,NaN,24,NaN,0,1,3
126,13,Oner,Sejuani,JUNGLE,4,1,6,6,1.076923,186,...,NaN,0,NaN,0,NaN,100,NaN,0,1,3
127,13,Faker,Tristana,MID,4,1,8,6,0.823529,356,...,NaN,0,NaN,0,NaN,4,NaN,0,1,2
128,13,Gumayusi,Zeri,ADC,2,7,5,4,2.000000,463,...,NaN,0,NaN,0,NaN,0,NaN,0,1,3
129,13,Keria,Xayah,SUPPORT,2,0,6,11,1.692308,46,...,NaN,52,NaN,53,NaN,0,NaN,0,2,6

In [71]:
df.isna().sum(axis=0)

gameidx                              0
summonerName                         0
championName                         0
teamPosition                         0
champLevel                           0
kills                                0
deaths                               0
assists                              0
KDA 0.5                              0
totalMinionsKilled                   0
totalAllyJungleMinionsKilled        10
totalEnemyJungleMinionsKilled     2070
CSM                                  0
goldEarned                           0
GPM                                  0
GOLD%                                0
visionScore                         10
wardsPlaced                         10
wardsKilled                         10
visionWardsBoughtInGame             10
detectorWardsPlaced                  0
VSPM                                10
WPM                                  0
VWPM                                 0
WCPM                                 0
VS%                                 10
totalDamageDealtToChampions          0
physicalDamageDealtToChampions       0
magicDamageDealtToChampions          0
trueDamageDealtToChampions           0
DPM                                  0
DMG%                                 0
K+A Per Minute                       0
KP%                                  0
doubleKills                         10
tripleKills                         10
quadraKills                         10
pentaKills                          10
GD@15                               10
CSD@15                              10
XPD@15                              10
LVLD@15                             10
objectivesStolen                     0
damageDealtToTurrets                10
damageDealtToBuildings               0
totalHeal                           10
totalHealsOnTeammates                0
damageSelfMitigated                 10
totalDamageShieldedOnTeammates       0
timeCCingOthers                     10
totalTimeCCDealt                     0
trueDamageTaken                     10
totalTimeSpentDead                   0
consumablesPurchased                 0
itemsPurchased                       0
dtype: int64

In [83]:
df = df.fillna('NULL')

In [84]:
# 데이터프레임 데이터를 테이블에 삽입
insert_query = f"INSERT INTO {table_name} ({', '.join(df.columns)}) VALUES ({', '.join(['%s']*len(df.columns))})"
values = df.values.tolist()
#cursor.executemany(insert_query, values)  # 여기서 values 전체를 전달해야 합니다
cursor.execute(insert_query,values[2])
# 변경사항을 커밋하여 저장
connection.commit()

# 연결 종료
cursor.close()
connection.close()

ValueError: unsupported format character ',' (0x2c) at index 156