In [5]:
import pandas as pd

stats_df = pd.read_csv('../../../RawData/GameStats/LCK_2023_SUMMER.csv')
stats_df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,8267.0,0,5.0,156,13570.0,42,7,22,0,100
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,24001.0,0,12.0,198,23779.0,66,5,24,0,150
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,10336.0,0,22.0,77,16177.0,114,7,23,100,500
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,6309.0,0,4.0,53,9404.0,33,6,23,0,0
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,16728.0,77,20.0,55,11572.0,49,16,27,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,16943.0,177,26.0,1669,13981.0,49,9,28,0,0
2056,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,16060.0,0,4.0,194,22960.0,36,11,25,0,0
2057,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,15857.0,0,14.0,474,19369.0,79,8,27,0,0
2058,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,6312.0,0,11.0,92,10485.0,43,5,23,0,50
2059,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,3916.0,3014,8.0,53,7027.0,73,13,26,0,0

In [6]:
df = pd.read_csv('../../../RawData/GameStats/LCK_2023_SUMMER_Overview.csv')
df

,1,2,3,4,5,6,total_game
0,KT Rolster,2 - 0,Liiv SANDBOX,WEEK9,13.14,2023-08-06,2
1,DRX,2 - 0,Kwangdong Freecs,WEEK9,13.14,2023-08-06,2
2,BRION,2 - 0,Gen.G eSports,WEEK9,13.14,2023-08-05,2
3,Dplus KIA,0 - 2,Hanwha Life eSports,WEEK9,13.14,2023-08-05,2
4,Nongshim RedForce,1 - 2,KT Rolster,WEEK9,13.14,2023-08-04,3
...,...,...,...,...,...,...,...
85,KT Rolster,1 - 2,Gen.G eSports,WEEK1,13.10,2023-06-09,3
86,BRION,1 - 2,Nongshim RedForce,WEEK1,13.10,2023-06-08,3
87,Kwangdong Freecs,2 - 0,DRX,WEEK1,13.10,2023-06-08,2
88,Dplus KIA,2 - 0,Liiv SANDBOX,WEEK1,13.10,2023-06-07,2
89,KT Rolster,2 - 1,Hanwha Life eSports,WEEK1,13.10,2023-06-07,3

In [7]:
extra_info = {
    'Version' : [],
    'Date' : []
}

In [8]:
a = []
a.append(df.loc[0, '6'])

In [9]:
print(df.shape[0])

for i in range(df.shape[0]):
    repeat = df.loc[i, 'total_game']
    version = df.loc[i, '5']
    date = df.loc[i, '6']



    for j in range(repeat * 10):
        extra_info['Version'].append(version)
        extra_info['Date'].append(date)

print(len(extra_info['Date']))

90
2060

In [10]:
extra_info_df = pd.DataFrame(extra_info)
extra_info_df

      Version        Date
0       13.14  2023-08-06
1       13.14  2023-08-06
2       13.14  2023-08-06
3       13.14  2023-08-06
4       13.14  2023-08-06
...       ...         ...
2055    13.10  2023-06-07
2056    13.10  2023-06-07
2057    13.10  2023-06-07
2058    13.10  2023-06-07
2059    13.10  2023-06-07

[2060 rows x 2 columns]

In [11]:
import pandas as pd

df = pd.concat([stats_df, extra_info_df], axis = 1)
df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Version,Date
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,5.0,156,13570.0,42,7,22,0,100,13.14,2023-08-06
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,12.0,198,23779.0,66,5,24,0,150,13.14,2023-08-06
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,22.0,77,16177.0,114,7,23,100,500,13.14,2023-08-06
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,4.0,53,9404.0,33,6,23,0,0,13.14,2023-08-06
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,20.0,55,11572.0,49,16,27,0,0,13.14,2023-08-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,26.0,1669,13981.0,49,9,28,0,0,13.10,2023-06-07
2056,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,4.0,194,22960.0,36,11,25,0,0,13.10,2023-06-07
2057,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,14.0,474,19369.0,79,8,27,0,0,13.10,2023-06-07
2058,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,11.0,92,10485.0,43,5,23,0,50,13.10,2023-06-07
2059,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,8.0,53,7027.0,73,13,26,0,0,13.10,2023-06-07

In [21]:
len(df['Player'].unique())

66

In [19]:
team = {
    'KT' : ['Kiin', 'PerfecT','Cuzz', 'Bdd', 'Aiming', 'Hype','Lehends', 'Way'],
    'GEN' : ['Doran', 'Peanut', 'Chovy', 'Peyz', 'Delight'],
    'HLE' : ['kingen', 'Grizzly', 'Clid', 'Zeka', 'Viper', 'Life'],
    'Dplus KIA' : ['Canna', 'Canyon', 'ShowMaker', 'Deft', 'Rahel','Bible', 'Kellin'],
    'T1' : ['Zeus', 'Oner', 'Faker', 'Poby', 'Gumayusi', 'Keria'],
    'DRX' : ['Rascal', 'Croco','Juhan', 'FATE', 'Kyeahoo','Paduck', 'BeryL'],
    'LSB' : ['Burdol', 'Clear', 'Willer', 'HamBak','Clozer', 'Feisty','Teddy', 'Kael'],
    'BRION' : ['Morgan', 'UmTi', 'Karis', 'Ivory','Hena', 'Effort'],
    'NS' : ['DnDn','Sylvie', 'FIESTA', 'Quad', 'Jiwoo', 'Vital','Peter'],
    'KDF' : ['DuDu', 'YoungJae', 'Bulldog', 'Taeyoon', 'Andil', 'Jun', 'Andil']
}

player_to_team = {}
for team_name, players in team.items():
    for player in players:
        player_to_team[player] = team_name
    
print(player_to_team)

{'Kiin': 'KT', 'PerfecT': 'KT', 'Cuzz': 'KT', 'Bdd': 'KT', 'Aiming': 'KT', 'Hype': 'KT', 'Lehends': 'KT', 'Way': 'KT', 'Doran': 'GEN', 'Peanut': 'GEN', 'Chovy': 'GEN', 'Peyz': 'GEN', 'Delight': 'GEN', 'kingen': 'HLE', 'Grizzly': 'HLE', 'Clid': 'HLE', 'Zeka': 'HLE', 'Viper': 'HLE', 'Life': 'HLE', 'Canna': 'Dplus KIA', 'Canyon': 'Dplus KIA', 'ShowMaker': 'Dplus KIA', 'Deft': 'Dplus KIA', 'Rahel': 'Dplus KIA', 'Bible': 'Dplus KIA', 'Kellin': 'Dplus KIA', 'Zeus': 'T1', 'Oner': 'T1', 'Faker': 'T1', 'Poby': 'T1', 'Gumayusi': 'T1', 'Keria': 'T1', 'Rascal': 'DRX', 'Croco': 'DRX', 'Juhan': 'DRX', 'FATE': 'DRX', 'Kyeahoo': 'DRX', 'Paduck': 'DRX', 'BeryL': 'DRX', 'Burdol': 'LSB', 'Clear': 'LSB', 'Willer': 'LSB', 'HamBak': 'LSB', 'Clozer': 'LSB', 'Feisty': 'LSB', 'Teddy': 'LSB', 'Kael': 'LSB', 'Morgan': 'BRION', 'UmTi': 'BRION', 'Karis': 'BRION', 'Ivory': 'BRION', 'Hena': 'BRION', 'Effort': 'BRION', 'DnDn': 'NS', 'Sylvie': 'NS', 'FIESTA': 'NS', 'Quad': 'NS', 'Jiwoo': 'NS', 'Vital': 'NS', 'Peter': 'NS', 'DuDu': 'KDF', 'YoungJae': 'KDF', 'Bulldog': 'KDF', 'Taeyoon': 'KDF', 'Andil': 'KDF', 'Jun': 'KDF'}

In [22]:
df.loc[:,'Team'] = df['Player'].map(player_to_team)

In [23]:
df

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Version,Date,Team
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,156,13570.0,42,7,22,0,100,13.14,2023-08-06,KT
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,198,23779.0,66,5,24,0,150,13.14,2023-08-06,KT
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,77,16177.0,114,7,23,100,500,13.14,2023-08-06,KT
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,53,9404.0,33,6,23,0,0,13.14,2023-08-06,KT
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,55,11572.0,49,16,27,0,0,13.14,2023-08-06,KT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,1669,13981.0,49,9,28,0,0,13.10,2023-06-07,HLE
2056,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,194,22960.0,36,11,25,0,0,13.10,2023-06-07,HLE
2057,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,474,19369.0,79,8,27,0,0,13.10,2023-06-07,HLE
2058,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,92,10485.0,43,5,23,0,50,13.10,2023-06-07,HLE
2059,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,53,7027.0,73,13,26,0,0,13.10,2023-06-07,HLE

In [24]:
df[df['Team'] == 'KT']

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Team's Jungle,...,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Version,Date,Team
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,156,13570.0,42,7,22,0,100,13.14,2023-08-06,KT
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,198,23779.0,66,5,24,0,150,13.14,2023-08-06,KT
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,77,16177.0,114,7,23,100,500,13.14,2023-08-06,KT
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,53,9404.0,33,6,23,0,0,13.14,2023-08-06,KT
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,55,11572.0,49,16,27,0,0,13.14,2023-08-06,KT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050,Kiin,Sion,TOP,15,3,1,1,4,204,0.0,...,485,14548.0,38,6,23,50,0,13.10,2023-06-07,KT
2051,Cuzz,Volibear,JUNGLE,13,2,1,6,8,159,135.0,...,1088,17634.0,30,12,25,0,0,13.10,2023-06-07,KT
2052,Bdd,Annie,MID,15,1,0,6,Perfect KDA,228,0.0,...,376,7476.0,0,11,22,0,0,13.10,2023-06-07,KT
2053,Aiming,Aphelios,ADC,13,4,0,4,Perfect KDA,281,29.0,...,154,3369.0,0,5,20,0,0,13.10,2023-06-07,KT
2054,Lehends,Yuumi,SUPPORT,12,0,0,9,Perfect KDA,7,0.0,...,122,1267.0,0,12,27,0,0,13.10,2023-06-07,KT

In [25]:
result = []
for i in range(df.shape[0]):
    result.append('Win')

In [27]:
df['Result'] = result

In [28]:
df['Team'].unique()

array(['KT', 'LSB', 'DRX', 'KDF', 'BRION', 'GEN', 'Dplus KIA', 'HLE',
       'NS', 'T1'], dtype=object)

In [30]:
df[df['Team'] == '']

Empty DataFrame
Columns: [Player, Champion, Role, Level, Kills, Deaths, Assists, KDA, CS, CS in Team's Jungle, CS in Enemy Jungle, CSM, Golds, GPM, GOLD%, Vision Score, Wards placed, Wards destroyed, Control Wards Purchased, Detector Wards Placed, VSPM, WPM, VWPM, WCPM, VS%, Total damage to Champion, Physical Damage, Magic Damage, True Damage, DPM, DMG%, K+A Per Minute, KP%, Solo kills, Double kills, Triple kills, Quadra kills, Penta kills, GD@15, CSD@15, XPD@15, LVLD@15, Objectives Stolen, Damage dealt to turrets, Damage dealt to buildings, Total heal, Total Heals On Teammates, Damage self mitigated, Total Damage Shielded On Teammates, Time ccing others, Total Time CC Dealt, Total damage taken, Total Time Spent Dead, Consumables purchased, Items Purchased, Shutdown bounty collected, Shutdown bounty lost, Version, Date, Team, Result]
Index: []

[0 rows x 61 columns]